$namespace: 'yl' !default; //创建一个命名空间，用于定于规范类名的开头
$block-sel: '-' !default; //创建一个连接，用于连接块名
$element-sel: '__' !default; //创建一个连接，用于连接元素名
$modify-sel: '--' !default; //创建一个连接，用于连接标识名


// 创建一个定义bem的混入，可以生成例如 .yl-button的样式
@mixin bem($bn){
    $name: $namespace+$block-sel+$bn;
    .#{$name}{
        @content;
    }
}
// 定义一个e的混入，可以生成例如 .yl-button__inner的样式
@mixin e($en){
    $selector:&;
    @at-root{
        #{$selector+$element-sel+$en}{
            @content;
        }
    }
}


// 创建一个定义 m 的混入，可以生成例如   .yl-button--primary 的样式
@mixin m($mn) {
    $selector: &;
    @at-root {
        #{$selector + $modify-sel + $mn} {
            @content;
        }
    }
}

